.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 10px;
}

.dashboard {
  height: 2000px;
}

.grid-container {
  height: 100%;
  display: grid;
  /* grid-template-columns: auto auto; */
  grid-template-areas:
    "header header header header header header"
    "main main main right right right";
  grid-gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 16px;
  text-align: center;
}

#reportes {
  min-height: 1600px;
}

#eventos,
#categorias,
#registro-eventos {
  font-size: 20px;
}

#categorias {
  float: right;
  display: inline-block;
}

.label {
  display: grid;
  padding-bottom: 10px;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}
.right {
  grid-area: right;
}

img {
  animation: pulse 0.5s infinite alternate;
}

select,
input {
  height: 30px;
  font-size: 20px;
}

#table-reportes {
  padding-top: 30px;
  margin: auto;
  width: 80%;
  text-align: left;
}

#table-reportes td,
#table-reportes th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table-reportes tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table-reportes tr:nth-child(20) {
  background-color: #a3a3c2;
}

#table-reportes tr:hover {
  background-color: #ddd;
}

#table-reportes th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}

#submitEvent {
  background-color: #4caf50;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flashit {
  background-color: yellow !important;
  -webkit-animation: flash linear 1s infinite;
  animation: flash linear 1s infinite;
}

@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
